body {
  background-image: url('//cdn.example.com/stuff/foo.jpg');
  background-image: url('//cdn.example.com/foo.jpg');
  background-image: url('//cdn.example.com/foo.jpg');
  background-image: url('//cdn.example.com/stuff/foo/bar.jpg');
}
